<form class="post-rating">
	<select name="rating" id="user-rating">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
	<input class="rating-submit" type="submit" name="score" value="rate">
</form>