<div class='containter'>
  <h1>Title</h1>
  <p>Helllllzzzzz yeahhhhh</p>
  <form action='/url' method="post">
    <input type='url' value='www.example.com'>
    <input type='submit' value='shorten!'>
  </form>
</div>
