<div class="container">

  <h1>TEST</h1>

  <h2>Sign in!</h2>

<form action="/login" method="post">

    <label for="email">Email:</label>
    <input type="text" name="email" value=""/>
    <br>

    <label for="password">Password:</label>
    <input type="password" name="password" value=""/>
    <br>
    
    <input type="submit" value="Sign in">
 
  </form>

</div>